.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22333b;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#1af, #f22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  cursor: alias;
  margin: 0;
  padding-bottom: 7px;
  position: relative;
}

.container h1:before {
  position: absolute;
  background: linear-gradient(to right, #1af 95px, #f22 70px);
  height: 2px;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 8px;
}
